
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	background-image: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(222,220,220,.8) 50%, rgba(255,255,255,1) 95%);
}

.main-nav {
 	display: flex;
  	list-style: none;
}
  
.nav {
	display: flex;
 	background-color: #383737;
	color: #fff;
	align-items: center;
	box-sizing: border-box;
	padding: 5px;
}

.nav label, #hamburger {
	display: none;
}

@media only screen and (max-width: 600px) {
	body, nav {
		font-size: .9em;
	}
	.zoom-avatar-container .avatar {
		width: 40px;
		height: 40px;
	}
	.nav label {
		display: flex;
	}
	.main-nav {
		flex-flow: column;
		align-items: flex-end;
		padding-right: 10px;
	}
	.nav-link {
	display: flex;
	}
	.logoname {
		display: flex;
		align-self: flex-start;
		padding-top: 8px;
		margin: 0;
	}
	.zoom-avatar-container {
		display: flex;
		align-self: flex-start;
	}
	.nav li {
		display: none;
	}
	input:checked ~ li {
		display: flex;
		padding: 2px;
	}
}

p {
	margin-left: 1em;
}

.nav-link {
	padding: 6px 10px;
	margin-right: 20px;
	transition: 0.3s ease;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	border: 2px solid #383737;
}

.nav-link:hover {
	font-weight: bold;
	background-color: #CD5824;
	border: 2px solid #fff;
	box-shadow: 3px 3px 3px #909090;
}

.zoom-avatar-container {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 2px;
}

.zoom-avatar-container img {
	display: block;
	align-self: center;
	transition: all .4s ease-out;
}

.avatar {
	width: 50px;
	height: 50px;	
	filter: saturate(70%);
}

.avatar:hover {
	transform: scale(1.5);
	filter: saturate(100%);
}

.logoname {
	text-decoration: none;
	color: #fff;
	margin-left: 1em;
	margin-right: auto;
	font-size: 1.3em;
	transition: 0.3s ease;
}

.logoname:hover {
	text-shadow: 2px 2px 3px #909090;
}

.myStory {
	display: flex;
	flex-flow: column wrap;
	text-align: left;
	list-style-position: inside;
	padding: 5em;
	animation: fadeIn 3s ease;
}

/* Adds more controller to fadeIn animation */

@keyframes fadeIn {
	0% { opacity: 0; }
	25% { opacity: 0; }
	100% { opacity: 1; }
}

/*ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: #FF4500;
	font-weight: bold;
	display: inline-block;
	width: 1em;
}
*/
